@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
	border: none;
	outline: none;
    font-family: 'Poppins';
}

body{
    background-color:#2F303A;
}

.navbar{
    background-color: #202027;
}

.discover-container{
    margin-top: 10rem;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.discover-container__title {
    margin-bottom: 0.5rem;
}

.discover__blackbox-container {
    display: flex;
}

.discover__black-box{
    padding: 0.5rem;
    background-color: #202027;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 5rem;
}

.discover__black-box__icon{
    height: 40%;
}

.discover-container__slogan{
    margin-top: 1rem;
    margin-bottom:0.5rem;
    font-weight: 100;
    font-size:1rem;
}

.discover-container__img{
    width:100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: #202027;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

.footer__left-side{
    display: flex;
    gap: 1rem;
}

.footer__right-side{
    display:flex;
    flex-direction: row;
    gap:1rem;
}

.footer__right-side__twitter{
    display: flex;
    gap: 0.5rem;
}

.footer__right-side__facebook{
    display: flex;
    gap: 0.5rem;
}

@media screen 
  and (min-width: 1200px) {

    .discover-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .discover-container-left{
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:45%;
    }

    .discover-container-right{
        width: 25%;
    }
    .discover-container__img{
        width:100%;
        object-fit: cover;
        aspect-ratio: 1;
    }

    .footer-container{
        justify-content: center;
        gap:25%;
        padding: 1rem;
    }

  }